<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Eric Salla">
  <title>Becode - Foire aux questions | Fr</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/lightbox.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link id="css-preset" href="css/preset1.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">
  <link href="css/foire.css" rel="stylesheet" />

  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="images/favicon.ico">
</head><!--/head-->

<body>

  <!--.preloader-->
  <div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
  <!--/.preloader-->

  <header id="home">
    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active" style="background-image: url(images/slider/1.jpg)">
          <div class="caption container">
            <div class="logo-becode">
              <img class="img-responsive" src="images/smalllogo.png" alt="Logo Becode" />
            </div>
            <h1 class="animated fadeInLeftBig">Vous vous posez des <span>QUESTIONS</span></h1>
            <p class="animated fadeInRightBig">
              Vous ne trouvez pas la réponse à votre question sur notre site web ou
              souhaitez obtenir de plus amples informations sur l’un ou l’autre de nos services ?
              N’hésitez pas à nous contacter via l’un de ces différents canaux, nous vous aiderons volontiers.
            </p>
            <div class="cont_ns">
              <a data-scroll class="btn btn-start animated fadeInUpBig" href="#contact">CONTACTER NOUS.</a>
            </div>
          </div>
        </div>
      </div>
    </div><!--/#home-slider-->

    <div class="main-nav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">
            <h1><img class="img-responsive" src="images/logo.png" alt="logo"></h1>
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="scroll active"><a href="#home">Home</a></li>
            <li class="scroll"><a href="#becode">Becode</a></li>
            <li class="scroll"><a href="#formation">Formation</a></li>
            <li class="scroll"><a href="#inscription">Inscription</a></li>
            <li class="scroll"><a href="#team">Divers</a></li>
            <li class="scroll"><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div><!--/#main-nav-->
  </header><!--/#home-->

  <section id="becode">
    <div class="container">
      <div class="heading">
        <div class="row">
          <div class="text-center col-sm-8 col-sm-offset-2">
            <h2>Le centre Becode</h2>
            <p>Vous voulez tout savoir sur notre centre de formation et sur tout ce que Becode propose</p>
          </div>
        </div>
      </div>
      <div class="text-center our-services">
        <div class="row">
            <!-- FAQ tab 1 -->
    		<div class="col-md-12">
    			<div class="panel-group jag-faq-theme5 jag-faq-theme-becode" id="jag-theme-5">
    				<div class="panel jag-faq-wrapper">
    					<div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-5" href="#collapse5_1">
    						<i class="jag-faq-icon-2 fa fa-plus"></i>
    						Becode, c'est quoi?
    					</div>
    					<div id="collapse5_1" class="panel-collapse collapse">
    						<div class="panel-body">
                  BeCode, c’est une formation de 7 mois en horaire de jour pour apprendre les technologies numériques.<br />
                  Ici, vous apprendrez les ficelles du métier de développeur web et mobile. <br />
                  Vous ferez un mélange de développement <strong>«front-end»</strong>(ce qu’on voit à l’écran, avec HTML, CSS, Javascript),
                  de développement «back-end» (les coulisses, les fonctionnalités) avec le langage PHP,
                  les bases de données (via MySQL), d'administration systèmes (sous Linux),
                  de programmation d’objets connectés, de gestion de projet et de conception d’interfaces. <br />
                  A l’issue des sept mois de formation, vous pourrez mettre en pratique les nouvelles compétences
                  acquises dans le cadre d’un stage en entreprise d’une durée de un mois.
    						</div>
    					</div>
    				</div>
    				<div class="panel jag-faq-wrapper">
    					<div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-5" href="#collapse5_2">
    						<i class="jag-faq-icon-2 fa fa-plus"></i>
    						Becode, est-ce pour moi?
    					</div>
    					<div id="collapse5_2" class="panel-collapse collapse">
    						<div class="panel-body">
                  La formation que nous proposons s’adresse à toutes et tous, sans distinction de diplômes,
                  d’âge, de genre, de moyens. La formation proposée par BeCode est tout sauf scolaire.
                  Ici, on apprend par soi-même en faisant, en expérimentant.
                  On relève des défis et lorsqu’on est confronté à une difficulté,
                  on cherche dans la documentation, sur google, ou via le groupe d’apprenants.
                  Si le problème est trop complexe, on voit avec les coachs comment le résoudre,
                  mais ceux-ci ne donnent jamais de solution clef-en-main.
                  Vous voulez acquérir de nouvelles compétences dans un domaine d’avenir ?
                  Vous cherchez à compléter votre formation ?
                  Vous vous ennuyez à l’école et les méthodes d’enseignement conventionnelles ne vous conviennent pas?
                  Vous êtes les bienvenu.e.s ! Ce qui nous intéresse, c’est votre motivation !
    						</div>
    					</div>
    				</div>
    				<div class="panel jag-faq-wrapper">
    					<div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-5" href="#collapse5_3">
    						<i class="jag-faq-icon-2 fa fa-plus"></i>
    						Que peut m'apporter Becode?
    					</div>
    					<div id="collapse5_3" class="panel-collapse collapse">
    						<div class="panel-body">
    						  Dans les quelques années à venir, 30.000 emplois réclamant
                  des connaissances dans les nouvelles technologies seront disponibles en Belgique.
                  Avec BeCode, vous allez vous former dans ce domaine.
                  Vous verrez donc de nombreuses portes s’ouvrir à vous à la fin de votre formation.
    						</div>
    					</div>
    				</div>
    				<div class="panel jag-faq-wrapper">
    					<div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-5" href="#collapse5_4">
    						<i class="jag-faq-icon-2 fa fa-plus"></i>
    						Quelle méthodologie?
    					</div>
    					<div id="collapse5_4" class="panel-collapse collapse">
    						<div class="panel-body">
    						 BeCode ne propose pas une formation comme les autres, nous misons sur des méthodologies agiles.
                 À l’opposé du scolaire, on parie sur votre esprit de recherche et de collaboration.
                 Chez nous, vous ne vous retrouverez pas enfermé.e.s dans une classe sans aucune liberté du matin au soir.
                 Nous vous invitons à vous approprier votre environnement de formation en déplaçant les tables,
                 en vous installant comme vous le souhaitez.
                 Aussi, nous accordons une grande importance à votre esprit débrouillard.
                 Nos coachs sont là pour vous encadrer et vous aider à trouver les réponses à vos interrogations.
    						</div>
    					</div>
    				</div>
            <div class="panel jag-faq-wrapper">
    					<div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-5" href="#collapse5_5">
    						<i class="jag-faq-icon-2 fa fa-plus"></i>
    						Le développement web, le front-end, le back-end... C’est quoi ?
    					</div>
    					<div id="collapse5_5" class="panel-collapse collapse">
    						<div class="panel-body">
                   Un site web, c'est avant tout des fichiers (HTML, CSS, javascript, ...) qui sont récupérés puis traités par un navigateur.<br>
                   Lorsqu'on développe pour le web, on choisit  de mettre en ligne du contenu sur Internet.<br>
                   Le résultat est appelé un site internet.<br>

                   Lorsque l'on parle de <strong>“Front-End”</strong>, il s'agit finalement des éléments du site que l'on voit à
                   l'écran et avec lesquels on peut interagir.<br><br>

                   Les champs de compétence du Front-End peuvent être séparés en deux :<br>
                   - Le design <br>
                   - Le développement <strong>HTML, CSS, Javascript </strong><br>


                   Le <strong>“Back-End”</strong>, c'est un peu comme la partie immergée de l'iceberg.
                   Elle est invisible pour les visiteurs mais représente une grande partie du développement d'un projet web.
                   Sans elle, le site web reste une coquille vide. <br>

                   On peut décomposer le Back-End en trois parties essentielles : <br>
                   - Un serveur (ou hébergement web)<br>
                   - Une application (en l’occurrence le site web) <br>
                   - Une base de données (ou l'on stocke les données de l'application) <br>


                   La formation BeCode vise à former des développeurs “Full Stack”,
                   c’est-à-dire des développeurs capables de maîtriser le Front-End et le Back-End.

    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<!-- Fin FAQ tab 1 -->
        </div>
      </div>
    </div>
  </section><!--/#becode-->

  <section id="formation">
    <div class="container">
      <div class="heading">
        <div class="row">
          <div class="text-center col-sm-8 col-sm-offset-2">
            <h2>La formation</h2>
            <p>Vous voulez tout savoir sur la formation que Becode propose.</p>
          </div>
        </div>
      </div>
      <div class="panel-group jag-faq-theme6 jag-faq-theme-becode" id="jag-theme-6">
      <div class="panel jag-faq-wrapper">
        <div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-6" href="#collapse6_1">
          <i class="jag-faq-icon-2 fa fa-plus"></i>
          Je ne connais rien au codage informatique, puis-je m’inscrire ?
        </div>
        <div id="collapse6_1" class="panel-collapse collapse">
          <div class="panel-body">
           Bien sûr !<br>
           La formation BeCode ne nécessite pas de connaissances préalables dans le domaine de la programmation.<br>s
           Il faut juste être débrouillard avec les ordinateurs.
          </div>
        </div>
      </div>
      <div class="panel jag-faq-wrapper">
        <div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-6" href="#collapse6_2">
          <i class="jag-faq-icon-2 fa fa-plus"></i>
          Dois-je être bilingue pour suivre la formation ?
        </div>
        <div id="collapse6_2" class="panel-collapse collapse">
          <div class="panel-body">
           Non. <br> La formation se donne en français ou en néerlandais.<br>
           Vous serez mis.e en contact avec la langue anglaise car il s’agit d’une langue importante dans le monde informatique,
           mais vous apprendrez le lexique informatique par la pratique et l’utilisation des logiciels.<br>
           De même, pas d’inquiétude si votre orthographe en français n’est pas parfaite,
           nous vous aiderons à vous améliorer à ce niveau pour faciliter vos échanges.
          </div>
        </div>
      </div>
      <div class="panel jag-faq-wrapper">
        <div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-6" href="#collapse6_3">
          <i class="jag-faq-icon-2 fa fa-plus"></i>
          Quel est le plan de la formation ?
        </div>
        <div id="collapse6_3" class="panel-collapse collapse">
          <div class="panel-body">
           La formation débute par 2 semaines de prairie (pré-formation). <br>
           Elle est suivie de 6 mois de formation (avec 2 semaines de congés) et d’un mois de stage. <br>
           Les quatre premiers mois de formation se déroulent en tronc commun,
           tandis que les deux derniers mois sont dédiés à un apprentissage libre.
          </div>
        </div>
      </div>
    </div>
     <!-- End FAQ formation -->
    </div>
  </section><!--/#formation-->

  <section id="inscription">
    <div class="container">
      <div class="heading">
        <div class="row">
          <div class="text-center col-sm-8 col-sm-offset-2">
            <h2>L'inscription</h2>
            <p>Vous voulez tout savoir sur les conditions pour vous inscrire à Becode</p>
          </div>
        </div>
      </div>
            <!-- FAQ tab 3 -->
    		<div class="col-md-12">
    			<div class="panel-group jag-faq-theme7 jag-faq-theme-becode" id="jag-theme-7">
    				<div class="panel jag-faq-wrapper">
    					<div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-7" href="#collapse7_1">
    						<i class="jag-faq-icon-2 fa fa-plus"></i>
    						Combien coûte la formation BeCode ?
    					</div>
    					<div id="collapse7_1" class="panel-collapse collapse">
    						<div class="panel-body">
                  La formation proposée par BeCode est entièrement gratuite ! <br>
                  Grâce à notre partenaire Close The Gap,
                  nous pouvons même mettre un ordinateur à votre disposition si vous le souhaitez.
    						</div>
    					</div>
    				</div>
    				<div class="panel jag-faq-wrapper">
    					<div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-7" href="#collapse7_2">
    						<i class="jag-faq-icon-2 fa fa-plus"></i>
    						Comment m’inscrire à BeCode ?
    					</div>
    					<div id="collapse7_2" class="panel-collapse collapse">
    						<div class="panel-body">
                  C’est très simple. Le processus d’inscription se fait en trois étapes :<br>
                  1. Rendez vous sur <a href="http://www.codecademy.com/fr/" target="_blank">Code Academy</a> ,
                  inscrivez-vous et suivez les parcours <br>
                  <ul>
                    <li>"Html&CSS"</li>
                    <li>“Introduction to Javascript"</li>
                    <li>“Learn Git”</li>
                  </ul>,
                  afin de découvrir les bases du codage et d’obtenir des badges.<br>
                  Vous nous montrerez ainsi votre motivation !<br>
                  2. Rendez-vous sur <a href="http://register.becode.org" target="_blank">Register Becode</a>
                  et remplissez le formulaire d’inscription.<br>
                  3. Venez nous rencontrer en vrai : parce que rien ne vaut le contact humain.
    						</div>
    					</div>
    				</div>
    				<div class="panel jag-faq-wrapper">
    					<div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-7" href="#collapse7_3">
    						<i class="jag-faq-icon-2 fa fa-plus"></i>
    						Pourquoi dois-je collecter des badges Codecademy avant de pouvoir m’inscrire ?
    					</div>
    					<div id="collapse7_3" class="panel-collapse collapse">
    						<div class="panel-body">
    						  Nous demandons aux candidats de collecter <strong>25 badges Codecademy</strong>
                  en suivant les parcours <strong>"Html&CSS", “Introduction to Javascript" et “Learn Git”</strong>
                  afin que vous obteniez un aperçu de ce qu’est un web développeur,
                  que vous vous découvriez les langages de base <strong>(HTML, CSS, PHP)</strong>
                  et que vous vous rendiez compte que développer pour le web, c’est essentiellement résoudre des problèmes.
    						</div>
    					</div>
    				</div>
    				<div class="panel jag-faq-wrapper">
    					<div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-7" href="#collapse7_4">
    						<i class="jag-faq-icon-2 fa fa-plus"></i>
    						Je n’ai pas pu m’inscrire à temps pour la prochaine session, puis-je m’inscrire en retard ?
    					</div>
    					<div id="collapse7_4" class="panel-collapse collapse">
    						<div class="panel-body">
                  Par souci d’égalité des chances entre les candidats,
                  nous n’acceptons pas d’inscriptions régulières à l’issue de la période d’inscription. <br>
                  Nous vous invitons alors à vous inscrire pour notre session suivante ou dans une autre ville.
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<!-- Fin FAQ Inscription -->
    </div>
  </section><!--/#inscription-->

  <section id="team">
    <div class="container">
      <div class="row">
        <div class="heading text-center" >
          <h2>Divers</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, lore magna aliqua ut enim ad minim veniam</p>
        </div>
      </div>
      <div class="panel-group jag-faq-theme8 jag-faq-theme-becode" id="jag-theme-8">
      <div class="panel jag-faq-wrapper">
        <div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-8" href="#collapse8_1">
          <i class="jag-faq-icon-2 fa fa-plus"></i>
          Je n’ai pas été retenu.e la première fois, puis-je tenter ma chance à nouveau ?
        </div>
        <div id="collapse8_1" class="panel-collapse collapse">
          <div class="panel-body">
           Bien sûr ! On considère que vous pouvez avoir appris depuis votre première inscription. <br>
           Notre porte vous reste donc grande ouverte.
          </div>
        </div>
      </div>
      <div class="panel jag-faq-wrapper">
        <div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-8" href="#collapse8_2">
          <i class="jag-faq-icon-2 fa fa-plus"></i>
          Quels outils informatiques utilise BeCode ?
        </div>
        <div id="collapse8_2" class="panel-collapse collapse">
          <div class="panel-body">
           Tout d’abord, BeCode n’a aucune religion : au cours de votre formation,
           vous apprendrez à programmer dans certains langages et saurez comment en apprendre de nouveaux.<br>
           Parmi les outils que nous utilisons :
           <ul>
             <li>Git</li>
             <li>Github</li>
             <li>Ryver</li>
             <li>Sublime Text</li>
             <li>
               Javascript
               <ul>
                 <li>Node.JS</li>
                 <li>npm</li>
                 <li>webpack</li>
                 <li>Express.JS</li>
                 <li>React</li>
                 <li>VueJs</li>
                 <li>Heroku</li>
                 <li>MongoDB</li>
               </ul>
             </li>
             <li>
                 PHP
                 <ul>
                   <li>Composer</li>
                   <li>Slim</li>
                   <li>Silex</li>
                   <li>Symphony</li>
                   <li>Nginx</li>
                   <li>PHP-FPM</li>
                 </ul>
             </li>
           </ul>
           (ceci sont des exemples typiques et évoluent suivant les besoins du marché de l’emploi).
          </div>
        </div>
      </div>
      <div class="panel jag-faq-wrapper">
        <div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-8" href="#collapse8_3">
          <i class="jag-faq-icon-2 fa fa-plus"></i>
          Quelles sont les conditions pour valider ma formation BeCode ?
        </div>
        <div id="collapse8_3" class="panel-collapse collapse">
          <div class="panel-body">
           BeCode vous offre la chance de suivre une formation dans un domaine d’avenir. <br>
           Nous poursuivons ainsi l’objectif de vous permettre d'élargir vos possibilités professionnelles. <br>
           Pour valider votre formation, nous attendons donc de vous que vous <strong>soyez présent chaque jour à l’heure.</strong> <br>
           - <strong>Trois retards</strong> sont considérés comme une absence. <br>
           - <strong>Trois absences non justifiées</strong> engendrent une convocation en entretien individuel.<br>
           - <strong>Six absences non justifiées</strong> entraîneront une exclusion définitive.<br>
           Aussi, la philosophie BeCode repose sur <strong>l’esprit de groupe.</strong> <br>
           Chez BeCode, le groupe avance ensemble dans une ambiance d’entraide et d’échange de connaissances. <br>
           Nous attendons donc de vous que vous participiez activement à cet esprit de groupe.
          </div>
        </div>
      </div>
      <div class="panel jag-faq-wrapper">
        <div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-8" href="#collapse8_4">
          <i class="jag-faq-icon-2 fa fa-plus"></i>
          Dans quelle langue se donne la formation BeCode ?
        </div>
        <div id="collapse8_4" class="panel-collapse collapse">
          <div class="panel-body">
             La formation se donne en français ou en néerlandais. <br>
             La plupart des logiciels utilisés au cours de la formation seront en anglais, mais ce n’est pas un frein. <br>
             Nous sommes là pour vous aider et cela vous permettra d’être mieux préparé.e au monde professionnel.
          </div>
        </div>
      </div>
      <div class="panel jag-faq-wrapper">
        <div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-8" href="#collapse8_5">
          <i class="jag-faq-icon-2 fa fa-plus"></i>
          Est-il possible de passer mes badges Codecademy en français ?
        </div>
        <div id="collapse8_5" class="panel-collapse collapse">
          <div class="panel-body">
            Nous vous invitons à passer vos badges en anglais car c’est LA langue de l’IT. <br>
            En faisait l’exercice en anglais, vous aurez l’occasion d’approcher le jargon technique qui vous sera bien utile durant la formation et votre future carrière de développeur web.
          </div>
        </div>
      </div>
      <div class="panel jag-faq-wrapper">
        <div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-8" href="#collapse8_6">
          <i class="jag-faq-icon-2 fa fa-plus"></i>
          Obtient-on un certificat à la fin de la formation BeCode ?
        </div>
        <div id="collapse8_6" class="panel-collapse collapse">
          <div class="panel-body">
            Nous délivrons à la fin de la formation un certificat de Junior Web Developer.
          </div>
        </div>
      </div>
      <div class="panel jag-faq-wrapper">
        <div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-8" href="#collapse8_7">
          <i class="jag-faq-icon-2 fa fa-plus"></i>
          Quand saurai-je si mon inscription est acceptée ?
        </div>
        <div id="collapse8_7" class="panel-collapse collapse">
          <div class="panel-body">
            Après avoir introduit votre candidature en nous envoyant le formulaire complété, vous serez invité.e à nous rencontrer.<br>
            Vous serez averti.e de votre participation à la formation dans les jours qui suivront et la pré-formation débutera une à deux semaines plus tard.
          </div>
        </div>
      </div>
      <div class="panel jag-faq-wrapper">
        <div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-8" href="#collapse8_8">
          <i class="jag-faq-icon-2 fa fa-plus"></i>
          Est-ce que je continue de toucher mes allocations de chômage durant la formation ?
        </div>
        <div id="collapse8_8" class="panel-collapse collapse">
          <div class="panel-body">
            Si vous percevez des allocations de chômage, vous continuerez de les toucher.<br>
            Le montant de vos allocations ne pourra pas baisser durant votre formation BeCode. <br>
            Si vous ne percevez pas encore vos allocations de chômage au début de la formation,
            mais que vous devez commencer à les toucher durant celle-ci, rien ne change pour vous.
          </div>
        </div>
      </div>
      <div class="panel jag-faq-wrapper">
        <div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-8" href="#collapse8_9">
          <i class="jag-faq-icon-2 fa fa-plus"></i>
          Ai-je le droit de participer à la formation BeCode si je suis inscrit au Forem ou à la VDAB?
        </div>
        <div id="collapse8_9" class="panel-collapse collapse">
          <div class="panel-body">
           Oui.<br>
            Si vous êtes inscrit.e au Forem ou à la VDAB, vous pouvez participer à la formation. <br>
            Toutefois, vous devez introduire auprès du Forem ou de la VDAB une demande de mobilité interrégionale,
            ce qui vous permettra de bénéficier des remboursements de frais de transport
            et de la prime de formation si vous êtes dans les conditions pour l’obtenir. <br>
            Si vous n’obtenez pas cette attestation, vous pouvez suivre la formation,
            mais vous n’obtiendrez pas ces avantages et vous ne serez pas libéré.e de votre obligation de chercher un emploi.
          </div>
        </div>
      </div>
      <div class="panel jag-faq-wrapper">
        <div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-8" href="#collapse8_10">
          <i class="jag-faq-icon-2 fa fa-plus"></i>
          Ai-je droit à une indemnité et à un remboursement de mes frais de transports dans le cadre de la formation BeCode ?
        </div>
        <div id="collapse8_10" class="panel-collapse collapse">
          <div class="panel-body">
            Vous avez droit à une indemnité journalière et à un remboursement forfaitaire de
            vos frais de transport si vous avez signé un contrat avec Bruxelles Formation
            et si vous remplissez une de ces conditions :
            <ul>
              <li>Vous n’avez pas obtenu votre CESS.</li>
              <li>Vous avez obtenu votre CESS à l’étranger.</li>
              <li>Vous avez obtenu votre CESS et vous êtes inscrit chez Actiris depuis au moins un an.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel jag-faq-wrapper">
        <div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-8" href="#collapse8_11">
          <i class="jag-faq-icon-2 fa fa-plus"></i>
          Je n’ai pas le temps de suivre une formation pour des cours du jour,
          avez-vous une offre en cours du soir ou en ligne ?
        </div>
        <div id="collapse8_11" class="panel-collapse collapse">
          <div class="panel-body">
            Pas pour l’instant. <br>
            Par contre, Bruxelles formation propose une série de formations en ligne dans le domaine du code & web.
          </div>
        </div>
      </div>
      <div class="panel jag-faq-wrapper">
        <div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-8" href="#collapse8_12">
          <i class="jag-faq-icon-2 fa fa-plus"></i>
          Je porte le foulard, puis-je m’inscrire à la formation Becode?
        </div>
        <div id="collapse8_12" class="panel-collapse collapse">
          <div class="panel-body">
            Bien entendu. Chez BeCode, on ne juge pas sur le genre, les croyances religieuses,
            le parcours. On est ouverts à toutes et tous ! <br>

            Toutefois, en classe, on ne parle pas politique ou religion ; on est là pour apprendre à coder !
          </div>
        </div>
      </div>
    </div>
     <!-- End FAQ divers -->
    </div>
  </section><!--/#divers-->

  <section id="contact">
    <div id="contact-us" class="parallax">
      <div class="container">
        <div class="row">
          <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>Contact Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam</p>
          </div>
        </div>
        <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
          <div class="row">
            <div class="col-sm-6">
              <form id="main-contact-form" name="contact-form" method="post" action="#">
                <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="text" name="name" class="form-control" placeholder="Name" required="required">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="email" name="email" class="form-control" placeholder="Email Address" required="required">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" name="subject" class="form-control" placeholder="Subject" required="required">
                </div>
                <div class="form-group">
                  <textarea name="message" id="message" class="form-control" rows="4" placeholder="Enter your message" required="required"></textarea>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn-submit">Send Now</button>
                </div>
              </form>
            </div>
            <div class="col-sm-6">
              <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                <ul class="address">
                  <li><i class="fa fa-map-marker"></i> <span> Adresse:</span> 10 Rue de pierre à feu, 1000 Bxls </li>
                  <li><i class="fa fa-phone"></i> <span> Phone:</span> +32 23456789 </li>
                  <li><i class="fa fa-envelope"></i> <span> Email:</span><a href="mailto:info@becode.org"> info@becode.org</a></li>
                  <li><i class="fa fa-globe"></i> <span> Website:</span> <a href="#">www.becode.org</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!--/#contact-->
  <footer id="footer">
    <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
      <div class="container text-center">
        <div class="footer-logo">
          <a href="index.html"><img class="img-responsive" src="images/logo.png" alt=""></a>
        </div>
        <div class="social-icons">
          <ul>
            <li><a class="envelope" href="#"><i class="fa fa-envelope"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="tumblr" href="#"><i class="fa fa-tumblr-square"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p class="pull-right">© 2016-2018 <a href="http://www.becode.org/">Becode.org</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.inview.min.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="js/mousescroll.js"></script>
  <script src="js/smoothscroll.js"></script>
  <script src="js/jquery.countTo.js"></script>
  <script src="js/lightbox.min.js"></script>
  <script src="js/jag-faq-custom.js"></script>
  <script src="js/main.js"></script>

</body>
</html>
