<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Eric Salla">
  <title>Becode - Foire aux questions | Fr</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/lightbox.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link id="css-preset" href="css/presets/preset1.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">
  <link href="css/theme5.css" rel="stylesheet" />

  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="images/favicon.ico">
</head><!--/head-->

<body>

  <!--.preloader-->
  <div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
  <!--/.preloader-->

  <header id="home">
    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active" style="background-image: url(images/slider/1.jpg)">
          <div class="caption container">
            <div class="logo-becode">
              <img src="images/smalllogo.png" alt="Logo Becode" />
            </div>
            <h1 class="animated fadeInLeftBig">Vous vous posez des <span>QUESTIONS</span></h1>
            <p class="animated fadeInRightBig">
              Vous ne trouvez pas la réponse à votre question sur notre site web ou
              souhaitez obtenir de plus amples informations sur l’un ou l’autre de nos services ?
              N’hésitez pas à nous contacter via l’un de ces différents canaux, nous vous aiderons volontiers.
            </p>
            <div class="cont_ns">
              <a data-scroll class="btn btn-start animated fadeInUpBig" href="#contact">CONTACTER NOUS.</a>
            </div>
          </div>
        </div>
      </div>

    </div><!--/#home-slider-->
    <div class="main-nav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">
            <h1><img class="img-responsive" src="images/logo.png" alt="logo"></h1>
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="scroll active"><a href="#home">Home</a></li>
            <li class="scroll"><a href="#becode">Becode</a></li>
            <li class="scroll"><a href="#formation">Formation</a></li>
            <li class="scroll"><a href="#portfolio">Inscription</a></li>
            <li class="scroll"><a href="#team">Divers</a></li>
            <li class="scroll"><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div><!--/#main-nav-->
  </header><!--/#home-->

  <section id="becode">
    <div class="container">
      <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="row">
          <div class="text-center col-sm-8 col-sm-offset-2">
            <h2>Le centre Becode</h2>
            <p>Vous voulez tout savoir sur notre centre de formation et sur tout ce que Becode propose</p>
          </div>
        </div>
      </div>
      <div class="text-center our-services">
        <div class="row">
            <!-- FAQ Theme 5 -->
    		<div class="col-md-12">
    			<div class="panel-group jag-faq-theme5 jag-faq-random-colors" id="jag-theme-5">
    				<div class="panel jag-faq-wrapper">
    					<div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-5" href="#collapse5_1">
    						<i class="jag-faq-icon-2 fa fa-plus"></i>
    						Becode, c'est quoi?
    					</div>
    					<div id="collapse5_1" class="panel-collapse collapse">
    						<div class="panel-body">
    						To set random colors: <br>
    						1) Add <strong> jag-faq-random-colors </strong> class. <br>
    						2) To change color, open theme{num}.css, find "jag-faq-random-colors". <br>
    						3) You can change color from here. <br>
    						Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
    						minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
    						commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
    						minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
    						commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    						</div>
    					</div>
    				</div>
    				<div class="panel jag-faq-wrapper">
    					<div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-5" href="#collapse5_2">
    						<i class="jag-faq-icon-2 fa fa-plus"></i>
    						Becode, est-ce pour moi?
    					</div>
    					<div id="collapse5_2" class="panel-collapse collapse">
    						<div class="panel-body">
    						To add new theme color: <br>
    						1) Open theme{num}.css, find "jag-faq-title". <br>
    						2) Change background color or you can add your own class with new background <br>
    						3) Add class to main div. <br>
    						Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
    						minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
    						commodo consequat.
    						</div>
    					</div>
    				</div>
    				<div class="panel jag-faq-wrapper">
    					<div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-5" href="#collapse5_3">
    						<i class="jag-faq-icon-2 fa fa-plus"></i>
    						Que peut m'apporter Becode?
    					</div>
    					<div id="collapse5_3" class="panel-collapse collapse">
    						<div class="panel-body">
    						1) In html find <strong> <code>"jag-faq-icon fa fa-plus" </code></strong>. <br>
    						2) Add the font awesome icon class name instead of <strong> fa-plus </strong> <br>
    						3) Open <strong> jag-faq-custom.js </strong> <br>
    						4) Find <strong> toggleIcon </strong> function from where you can add your both icon
    						classes (open & close). Now its <code>"fa-plus fa-minus" </code>.
    						</div>
    					</div>
    				</div>
    				<div class="panel jag-faq-wrapper">
    					<div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-5" href="#collapse5_4">
    						<i class="jag-faq-icon-2 fa fa-plus"></i>
    						Quelle méthodologie?
    					</div>
    					<div id="collapse5_4" class="panel-collapse collapse">
    						<div class="panel-body">
    						To set random colors: <br>
    						1) Add <strong> jag-faq-random-colors </strong> class. <br>
    						2) To change color, open theme{num}.css, find "jag-faq-random-colors". <br>
    						3) You can change color from here. <br>
    						Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
    						minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
    						commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
    						minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
    						commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<!-- End FAQ Theme 5 -->
        </div>
      </div>
    </div>
  </section><!--/#becode-->

  <section id="formation" class="parallax">
    <div class="container">
      <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="row">
          <div class="text-center col-sm-8 col-sm-offset-2">
            <h2>La formation</h2>
            <p>Vous voulez tout savoir sur notre centre de formation et sur tout ce que Becode propose</p>
          </div>
        </div>
      </div>
      <div class="panel-group jag-faq-theme6 jag-faq-random-colors" id="jag-theme-6">
      <div class="panel jag-faq-wrapper">
        <div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-6" href="#collapse6_1">
          <i class="jag-faq-icon-2 fa fa-plus"></i>
          How to set random colors?
        </div>
        <div id="collapse6_1" class="panel-collapse collapse">
          <div class="panel-body">
          To set random colors: <br>
          1) Add <strong> jag-faq-random-colors </strong> class. <br>
          2) To change color, open theme{num}.css, find "jag-faq-random-colors". <br>
          3) You can change color from here. <br>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          </div>
        </div>
      </div>
      <div class="panel jag-faq-wrapper">
        <div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-6" href="#collapse6_2">
          <i class="jag-faq-icon-2 fa fa-plus"></i>
          How to use theme colors and add new theme color?
        </div>
        <div id="collapse6_2" class="panel-collapse collapse">
          <div class="panel-body">
          To add new theme color: <br>
          1) Open theme{num}.css, find "jag-faq-title". <br>
          2) Change background color or you can add your own class with new background <br>
          3) Add class to main div. <br>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat.
          </div>
        </div>
      </div>
      <div class="panel jag-faq-wrapper">
        <div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-6" href="#collapse6_3">
          <i class="jag-faq-icon-2 fa fa-plus"></i>
          How to change icon?
        </div>
        <div id="collapse6_3" class="panel-collapse collapse">
          <div class="panel-body">
          1) In html find <strong> <code>"jag-faq-icon fa fa-plus" </code></strong>. <br>
          2) Add the font awesome icon class name instead of <strong> fa-plus </strong> <br>
          3) Open <strong> jag-faq-custom.js </strong> <br>
          4) Find <strong> toggleIcon </strong> function from where you can add your both icon
          classes (open & close). Now its <code>"fa-plus fa-minus" </code>.
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End FAQ Theme 6 -->

    </div>
  </section><!--/#formation-->

  <section id="portfolio">
    <div class="container">
      <div class="row">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
          <h2>Inscription</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam</p>
        </div>
        <!-- FAQ Theme 5 -->
    <div class="col-md-12">
      <div class="panel-group jag-faq-theme51 jag-faq-random-colors" id="jag-theme-51">
        <div class="panel jag-faq-wrapper">
          <div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-51" href="#collapse51_1">
            <i class="jag-faq-icon-2 fa fa-plus"></i>
            Becode, c'est quoi?
          </div>
          <div id="collapse51_1" class="panel-collapse collapse">
            <div class="panel-body">
            To set random colors: <br>
            1) Add <strong> jag-faq-random-colors </strong> class. <br>
            2) To change color, open theme{num}.css, find "jag-faq-random-colors". <br>
            3) You can change color from here. <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            </div>
          </div>
        </div>
        <div class="panel jag-faq-wrapper">
          <div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-51" href="#collapse51_2">
            <i class="jag-faq-icon-2 fa fa-plus"></i>
            Becode, est-ce pour moi?
          </div>
          <div id="collapse51_2" class="panel-collapse collapse">
            <div class="panel-body">
            To add new theme color: <br>
            1) Open theme{num}.css, find "jag-faq-title". <br>
            2) Change background color or you can add your own class with new background <br>
            3) Add class to main div. <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.
            </div>
          </div>
        </div>
        <div class="panel jag-faq-wrapper">
          <div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-51" href="#collapse51_3">
            <i class="jag-faq-icon-2 fa fa-plus"></i>
            Que peut m'apporter Becode?
          </div>
          <div id="collapse51_3" class="panel-collapse collapse">
            <div class="panel-body">
            1) In html find <strong> <code>"jag-faq-icon fa fa-plus" </code></strong>. <br>
            2) Add the font awesome icon class name instead of <strong> fa-plus </strong> <br>
            3) Open <strong> jag-faq-custom.js </strong> <br>
            4) Find <strong> toggleIcon </strong> function from where you can add your both icon
            classes (open & close). Now its <code>"fa-plus fa-minus" </code>.
            </div>
          </div>
        </div>
        <div class="panel jag-faq-wrapper">
          <div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-51" href="#collapse51_4">
            <i class="jag-faq-icon-2 fa fa-plus"></i>
            Quelle méthodologie?
          </div>
          <div id="collapse51_4" class="panel-collapse collapse">
            <div class="panel-body">
            To set random colors: <br>
            1) Add <strong> jag-faq-random-colors </strong> class. <br>
            2) To change color, open theme{num}.css, find "jag-faq-random-colors". <br>
            3) You can change color from here. <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End FAQ Theme 5 -->
      </div>
    </div>
  </section><!--/#inscription-->

  <section id="team">
    <div class="container">
      <div class="row">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
          <h2>Divers</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam</p>
        </div>
        <!-- FAQ Theme 5 -->
    <div class="col-md-12">
      <div class="panel-group jag-faq-theme52 jag-faq-random-colors" id="jag-theme-52">
        <div class="panel jag-faq-wrapper">
          <div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-52" href="#collapse52_1">
            <i class="jag-faq-icon-2 fa fa-plus"></i>
            Becode, c'est quoi?
          </div>
          <div id="collapse52_1" class="panel-collapse collapse">
            <div class="panel-body">
            To set random colors: <br>
            1) Add <strong> jag-faq-random-colors </strong> class. <br>
            2) To change color, open theme{num}.css, find "jag-faq-random-colors". <br>
            3) You can change color from here. <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            </div>
          </div>
        </div>
        <div class="panel jag-faq-wrapper">
          <div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-52" href="#collapse52_2">
            <i class="jag-faq-icon-2 fa fa-plus"></i>
            Becode, est-ce pour moi?
          </div>
          <div id="collapse52_2" class="panel-collapse collapse">
            <div class="panel-body">
            To add new theme color: <br>
            1) Open theme{num}.css, find "jag-faq-title". <br>
            2) Change background color or you can add your own class with new background <br>
            3) Add class to main div. <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.
            </div>
          </div>
        </div>
        <div class="panel jag-faq-wrapper">
          <div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-52" href="#collapse52_3">
            <i class="jag-faq-icon-2 fa fa-plus"></i>
            Que peut m'apporter Becode?
          </div>
          <div id="collapse52_3" class="panel-collapse collapse">
            <div class="panel-body">
            1) In html find <strong> <code>"jag-faq-icon fa fa-plus" </code></strong>. <br>
            2) Add the font awesome icon class name instead of <strong> fa-plus </strong> <br>
            3) Open <strong> jag-faq-custom.js </strong> <br>
            4) Find <strong> toggleIcon </strong> function from where you can add your both icon
            classes (open & close). Now its <code>"fa-plus fa-minus" </code>.
            </div>
          </div>
        </div>
        <div class="panel jag-faq-wrapper">
          <div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-52" href="#collapse52_4">
            <i class="jag-faq-icon-2 fa fa-plus"></i>
            Quelle méthodologie?
          </div>
          <div id="collapse52_4" class="panel-collapse collapse">
            <div class="panel-body">
            To set random colors: <br>
            1) Add <strong> jag-faq-random-colors </strong> class. <br>
            2) To change color, open theme{num}.css, find "jag-faq-random-colors". <br>
            3) You can change color from here. <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End FAQ Theme 5 -->
      </div>
    </div>
  </section><!--/#divers-->

  <section id="contact">
    <div id="contact-us" class="parallax">
      <div class="container">
        <div class="row">
          <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>Contact Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam</p>
          </div>
        </div>
        <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
          <div class="row">
            <div class="col-sm-6">
              <form id="main-contact-form" name="contact-form" method="post" action="#">
                <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="text" name="name" class="form-control" placeholder="Name" required="required">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="email" name="email" class="form-control" placeholder="Email Address" required="required">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" name="subject" class="form-control" placeholder="Subject" required="required">
                </div>
                <div class="form-group">
                  <textarea name="message" id="message" class="form-control" rows="4" placeholder="Enter your message" required="required"></textarea>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn-submit">Send Now</button>
                </div>
              </form>
            </div>
            <div class="col-sm-6">
              <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                <ul class="address">
                  <li><i class="fa fa-map-marker"></i> <span> Adresse:</span> 10 Rue de pierre à feu, 1000 Bxls </li>
                  <li><i class="fa fa-phone"></i> <span> Phone:</span> +32 23456789 </li>
                  <li><i class="fa fa-envelope"></i> <span> Email:</span><a href="mailto:info@becode.org"> info@becode.org</a></li>
                  <li><i class="fa fa-globe"></i> <span> Website:</span> <a href="#">www.becode.org</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!--/#contact-->
  <footer id="footer">
    <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
      <div class="container text-center">
        <div class="footer-logo">
          <a href="index.html"><img class="img-responsive" src="images/logo.png" alt=""></a>
        </div>
        <div class="social-icons">
          <ul>
            <li><a class="envelope" href="#"><i class="fa fa-envelope"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="tumblr" href="#"><i class="fa fa-tumblr-square"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p class="pull-right">Designed by <a href="http://www.becode.org/">Becode</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.inview.min.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="js/mousescroll.js"></script>
  <script src="js/smoothscroll.js"></script>
  <script src="js/jquery.countTo.js"></script>
  <script src="js/lightbox.min.js"></script>
  <script src="js/jag-faq-custom.js"></script>
  <script src="js/main.js"></script>

</body>
</html>
