/********************************
* FAQ
********************************/
.jag-faq-theme5 .jag-faq-title,
.jag-faq-theme7 .jag-faq-title,
.jag-faq-theme8 .jag-faq-title,
.jag-faq-theme6 .jag-faq-title{
	background: #ffffff;
	padding: 20px;
	font-size: 1.4em;
	margin-top: 15px;
	cursor: pointer;
	position: relative;
	border-left: 5px solid #ff0044;
	box-shadow: 0px 0px 5px #dddddd;
	text-align: left;
	color: #17242F;
}

.jag-faq-theme5 .jag-faq-title i,
.jag-faq-theme7 .jag-faq-title i,
.jag-faq-theme8 .jag-faq-title i,
.jag-faq-theme6 .jag-faq-title i{
	margin-right: 5px;
	font-size: 15px;
	color: #000;
	line-height: 20px;
}

 .jag-faq-theme6 .jag-faq-title,
 .jag-faq-theme8 .jag-faq-title {
    background: #f8f8f8;

}

.panel-body{
	text-align: left;
  color: #17242F;
	padding-left: 50px;
	padding-right: 50px;
	font-size: 1.1em;
	list-style: initial;
}

#formation .panel-body,
#resume .panel-body {
	background-color: #f8F8F8;
}

#formation .panel,
#resume .panel {
	background-color: inherit;
}

/*Default Theme color*/
.jag-faq-theme5 .jag-faq-title{
	border-left-color: #ff0044;
}
/*Theme orange*/
.jag-faq-theme5.jag-faq-theme-orange .jag-faq-title{
	border-left-color: #ea4e00;
}
/*Theme dark red*/
.jag-faq-theme5.jag-faq-theme-darkred .jag-faq-title{
	border-left-color: #c40000;
}
/*Theme becode*/
.jag-faq-theme5.jag-faq-theme-becode .jag-faq-title,
.jag-faq-theme7.jag-faq-theme-becode .jag-faq-title,
.jag-faq-theme8.jag-faq-theme-becode .jag-faq-title,
.jag-faq-theme6.jag-faq-theme-becode .jag-faq-title{
	border-left-color: #17242F;
}
