body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #656c6d;
	width: 100% !important;
	height: 100% !important;
}
h1 {
	font-weight: 700;
}
h1 strong {
	font-weight: 900;
}
h2 {
	line-height: 20px;
	margin: 0;
	color: #121d1f;
	font-weight: 400;
	margin-bottom: 30px;
	font-size: 34px;
}
h3, h4 {
	color: #121d1f;
	font-size: 20px;
	font-weight: 600;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p.intro {
	font-size: 16px;
	margin: 12px 0 0;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
}
a {
	color: #333;
}
a:hover, a:focus {
	text-decoration: none;
	color: #7bc3d1;
}
ul, ol {
	/*list-style: none;*/
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
}

hr {
	height: 4px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #027db3;
	margin: 0 auto;
	margin-bottom: 30px;
	border: 0;
}

/*header*/
#header{
  height: 500px;
	background: url(../img/intro-bg.jpg) no-repeat center top;
	background-color: #7bc3d1;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

/* Navigation */
#nav {
	z-index: 9999;
}
#nav.affix {
	position: fixed;
	top: 0;
	width: 100%
}


.navbar-custom {
	margin-bottom: 0;
	background-color: #121d1f;
	border-radius: 0px;
	padding: 10px 0;
}
.navbar-custom .navbar-brand {
	font-weight: 600;
}
.navbar-custom .navbar-brand:focus {
	outline: 0;
}
.navbar-custom .navbar-brand .navbar-toggle {
	padding: 4px 6px;
	font-size: 16px;
	color: #fff;
}
.navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active {
	outline: 0;
}
.navbar-custom a {
	color: #fff;
	font-weight: bold;
}
.navbar-custom .nav li a {
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}
.navbar-custom .nav li a:hover {
	outline: 0;
	color: #027db3;
	background-color: transparent;
}
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
	outline: 0;
	background-color: transparent;
	color: #027db3;
}
.navbar-custom .nav li.active {
	outline: 0;
}
.navbar-custom .nav li.active a {
	background-color: rgba(255,255,255,.3);
}
.navbar-custom .nav li.active a:hover {
	color: #fff;
}

.navbar-brand{
	margin-top: -13px;
}
.btn-default {
	color: #fff;
	background-color: transparent;
	border-color: #fff;
	padding: 10px 20px;
	margin: 0;
	font-size: 16px;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	color: #fff;
	background-color: rgba(18, 29, 31, 0.7);
	border-color: #027db3;
}
.btn-primary {
	color: #fff;
	background-color: #121d1f;
	padding: 10px 20px;
	border-color: #121d1f;
	border-radius: 0;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active {
	color: #fff;
	background-color: #7bc3d1;
	border-color: #7bc3d1;
}
.btn-primary i.fa {
	margin-right: 10px;
}
/* Home Section */
.intro {
	display: table;
	width: 100%;
	height: 100%;
	padding: 30px 0;
	text-align: center;
	color: #fff;
	top: 0;
	border-bottom: 0;
	left: 0;
  right: 0;
  background: rgba(0,0,0,.7);
}

.section-title.center {
	padding: 25px 0 45px 0;
}


#header .caption h1 {
  color: #fff;
  font-size: 3em;
  font-weight: 600;
  margin-bottom: 30px;
}

#header .caption span{
	color: #027db3;
}

#header .caption p{
  font-size: 1.3em;
  line-height: 1.6em;
  text-align: left;
  color: #999;
}

#header .emily{
	margin-top: 10%;
}

.logo-becode{
}

.header-desc{
}
/* Becode Section */
#becode {
	padding: 90px 0;
	background: #fff;
}
#becode .about-text {
	/*margin-left: 10px;*/
}
#becode img {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	display: inline-block;
}
#becode p {
	margin-top: 20px;
	margin-bottom: 30px;
}
/* formation Section */
#formation {
	padding: 80px 0;
	background-color: #F6F6F6
}
#formation h2 {
	color: #17242F;
}
#formation hr {
	background: rgba(255,255,255,0.3);
}

/* inscription Section */
#inscription {
	padding: 80px 0;
	background: #fff;
}

#inscription i.fa {
	font-size: 20px;
	padding: 5px;
}
/* Achivements Section */
#achievements {
	padding: 100px 0;
	background: #7bc3d1;
}
#achievements h2 {
	color: #fff;
}
#achievements hr {
	background: rgba(255,255,255,0.3);
}
.achievement-box h4 {
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	margin-left: 5px;
}
.achievement-box span.count {
	font-size: 52px;
	font-weight: 600;
	display: block;
	color: #121d1f;
	padding: 0;
	margin: 0;
}
/* Resume Section */
#resume {
	padding: 80px 0;
	background: #f6f6f6;
}

/* Contact Section */
#contact {
	padding: 90px 0 20px 0;
	color: #F8F8F8;
	background: #17242F;
}
#contact h2 {
	color: #fff;
}
#contact hr {
	background: rgba(255,255,255,0.3);
}
#contact h3 {
	padding-top: 20px;
	font-size: 20px;
	font-weight: 400;
	color: #fff;
}
/*#contact form {
	padding: 30px 0;
}*/
#contact i.fa {
	color: #027db3;
	margin-bottom: 10px;
}
#contact .text-danger {
	color: #E87E04;
	text-align: left;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #2c3e50;
	background-color: rgba(255,255,255,0.8);
	background-image: none;
	border: 0;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #2c3e50;
}
.form-control:-moz-placeholder {
color: #2c3e50;
}
.form-control::-moz-placeholder {
color: #2c3e50;
}
.form-control:-ms-input-placeholder {
color: #2c3e50;
}
#contact .social {
	margin-top: 60px;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact .social i.fa {
	font-size: 30px;
	padding: 4px 5px;
	color: #fff;
	transition: all 0.5s;
}
#contact .social i.fa:hover {
	color: #027db3;
}
#contact .btn {
	background-color: transparent;
	border: 1px solid #027db3;
	border-radius: 0;
	padding: 10px 20px;
	color: #fff;
	margin-top: 15px;
}
#contact .btn:hover, #contact .btn:focus {
	background-color: #027db3;
	border: 1px solid #027db3;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Footer Section*/
#footer {
	background: #121d1f;
	color: #7d8384;
	padding: 10px 0;
}
#footer p {
	font-size: 13px;
}
#footer a {
	color: #a0a5a5;
}
#footer a:hover {
	color: #7bc3d1;
}

/* Media Queries */
@media(min-width:768px) {
.intro {
	height: 100%;
	padding: 0;
	text-align: left;
	color: #fff;
}
.intro H1 {
	font-size: 60px;
	font-weight: 500;
	letter-spacing: -2px;
}

.intro .intro-text {
	max-width: 75%;
}
.intro .header-desc p {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	/*margin-bottom: 40px;
	margin-top: 20px;*/
}
section {
	padding: 120px 0;
}

}

@media (min-width: 768px) and (max-width: 991px){
	#header .intro .logo-becode{
		/*border: 1px solid red*/
	}

	#header .intro .logo-becode img{
		margin: 0 auto;
		width: 30%;
	}

	#header .intro .caption h1{
		text-align: center;
		font-size: 2.5em;
	}

	#header .intro .caption p{
		display: none;
	}

	.cont_ns .btn-default{
		margin: 0 auto;
	}
}

@media (max-width: 767px){
	#header .intro .logo-becode{
	}

	#header .intro .logo-becode img{
		margin: 0 auto;
		width: 40%;
	}

	#header .intro .caption h1{
		text-align: center;
		font-size: 1.7em;
	}

	#header .intro .caption p{
		display: none;
	}

	.cont_ns .btn-default{
		margin: 0 auto;
	}

	#header .intro{
		padding: 10px;
	}
}

@media(min-width:992px) {

}

@media(min-width:1200px) {

}
